.heroRoot {
  background: linear-gradient(274.83deg, #5db0df 0.58%, #5d7adf 74.3%);
  height: 250px;
  max-width: 100%;
  padding: 50px 10%;
  position: relative;
}
.heroRoot h1 {
  margin: 0;

  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}
.heroRoot p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}
.searchBarCont {
  box-shadow: 2px 12px 8px 2px #0000000d;

  height: 80px;
  max-width: 1000px;
  min-width: 1000px;
  left: 143px;
  top: 314px;
  border-radius: 24px;
  margin: auto;

  background-color: white;
  position: absolute;

  top: 310px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}
.searchBtn {
  height: 50px;
  width: 250px;
  left: 995px;
  top: 334px;
  border-radius: 8px;
  background: #f07987;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}
.searchSection {
  display: flex;
}
input {
  border: none;
  outline: none;
  margin-left: 10px;
}
select {
  border: none;
  outline: none;
  margin-left: 10px;
}
