.rootCont {
  background-color: #e5e5e5;

  width: 100%;
  padding: 70px 0;
  min-height: 30vh;
}
.listCont {
  width: 1100px;
  display: grid;
  grid-template-columns: 45% 45%;
  gap: 0 10%;
  margin: auto;
  height: auto;
}
/*Jobcard section*/
.jobCardRoot {
  margin-top: 40px;
  height: 200px;

  border-radius: 24px;
  background-color: white;
  box-shadow: 0px 4px 4px 2px #0000000d;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.imgBox {
}
.imgBox > img {
  height: 130px;
  width: 130px;

  border-radius: 16px;
}
.textBox {
  overflow: hidden;
  height: 110px;
  padding-left: 15px;
}
.textBox > p {
  font-size: 14px;
  margin: 0;
  color: grey;
}
.textBox > h3 {
  margin: 0;
}
